streamlit

docling==2.15.0
docling-core==2.15.0
rank-bm25

fastapi
slowapi
python-multipart
uvicorn

pydantic
pydantic-settings

pinecone

asyncpg
pymongo

langchain
langchain-core
langchain-community
langchain-groq
#langchain-pinecone

# langchain-huggingface
# langchain_experimental
# langsmith

torch
torchvision

transformers>=4.40.0
accelerate>=0.27.0
timm>=0.9.0

sentence-transformers

google-genai
groq

python-dotenv

loguru