streamlit
fpdf
pypdf
faiss-cpu
langchain
langchain_community
langchain-google-genai
langchain-huggingface
hf_xet
langchain_experimental
sentence-transformers
google-generativeai
python-dotenv
flask
-e .