fastapi
uvicorn
pydantic
pydantic-settings
asyncpg
pymongo
pinecone
sentence-transformers
rank-bm25
groq
google-genai
loguru
slowapi
python-multipart
python-dotenv
docling
langchain
langchain-core
langchain-community
langchain-groq
numpy
pandas
bm25s
torch
torchvision