streamlit

PyMuPDF
docling


fastapi
python-multipart
uvicorn

pydantic
pydantic-settings

pinecone
weaviate

asyncpg
pymongo

langchain>=0.3.23,<0.4
langchain-core>=0.3.52,<0.4
langchain-community==0.3.27
langchain-astradb>=0.6,<0.7
langchain-google-genai >= 2.1.12
langchain-huggingface
langchain_experimental
langsmith

sentence-transformers

google-generativeai
python-dotenv

loguru
-e .